.posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


@media only screen and (max-width: 875px) {
    .posts{
        flex-direction: column;
        align-items: center;
    
    }
  }